:root {
  --primary-color: #5a189a;
  --secondary-color: #343a40;
  --tertiary-color: #adb5bd;
}

/*Media Query for small desktop screens and smaller*/
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2,
  footer div {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
}

@media screen and (max-width: 575px) {
}

/* Overall*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: fantasy;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

h1 {
  font-size: 100px;
  font-family: fantasy;
  color: var(--primary-color);
}

.bio {
  padding: 20px 35px;
  text-align: center;
}

/*img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
/* animation: shake 0.5s;

  /* When the animation is finished, start again */
/* animation-iteration-count: infinite;
}

/*Header/Navigation Section*/

header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
  text-decoration: none;
  color: var(--primary-color);
}

header h1 {
  font-weight: bold;
  font-size: 40px;
  color: var(--primary-color);
  margin: 0;
  text-shadow: 5px 10px 15px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 5px 10px 15px rgba(0, 0, 0, 0.25);
  color: var(--primary-color);
}
header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--tertiary-color);
  border-radius: 15px;
  text-shadow: none;
}

/* Footer*/
footer {
  background: var(--primary-color);
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h2 {
  color: var(--tertiary-color);
  font-size: 30px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: var(--tertiary-color);
}

img {
  max-width: 100%;
}

/*Hero/about me*/
.pro-pic {
  height: 400px;
  width: 400px;
}

/* projects section*/
.title {
  color: #f8f9fa;
  font-weight: bolder;
}

.project-title {
  color: #f0eded;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.resize {
  width: 300px;
  height: auto;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

/*Contact Me*/
#contact-me {
  text-align: center;
}

.icon {
  height: 5rem;
  font-size: 6em;
}
